node_modules
npm-debug.log
src/app/**/*.js
src/app/**/*.js.map
.idea/
bower_components/
semantic/
public/css/
public/js/
public/html/
StackWatchApp/platforms/
StackWatchApp/www/
StackWatchApp/plugins/
